.wrapper {
    display: flex;
    width: 100%;
    padding: 20px;
    box-shadow: 0 4px 4px rgba(178, 216, 215, 0.25);
}

.photo {
    flex-grow: 0;
    flex-shrink: 0;
    width: 38px;
    height: 38px;
    border: 2px solid var(--main-color-77); /* ToDo: разбраться с тем, как вставлять css-переменные строкой */
    border-radius: 50%;
}